<header>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header col-md-9 col-lg-4">
                <a class="" href="/">
                    <h2>
                        <u><span>A propos de We Movies</span></u>
                    </h2>
                </a>
            </div>
            <div>
                <div class="input-group rounded">
                    <input type="search" name="search" id="search" class="form-control rounded" placeholder="" aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                    <div class="form-search-results-wrapper mt-5 overflow-scroll d-none" id="list_search"></div>
                </div>
            </div>
        </div>
    </div>
</header>